@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Teko:wght@500&display=swap');

.landing-root-container {
    text-align: center;
    color: #1F363D;
}

.landing-root-container .header-container {
    font-size: 4em;
    font-weight: bold;
    margin-top: 50px;
    font-family: 'Lobster', cursive;
}

.landing-root-container .subheader-container {
    font-size: 1.75em;
    font-weight: bold;
}

.landing-root-container .playlist-container {
    margin-top: 50px;
}

.landing-root-container .playlist-option-select {
    max-height: 50px;
}

.landing-root-container .bar-container {
    margin-top: 50px;
}